# Ignore everything
*
# But descend into directories
!*/

# dont ignore whats in these directories
!core/CMakeLists.txt
!core/include/**/*

!graphics/.gitignore
!graphics/CMakeLists.txt
!graphics/src/*/*.*
!graphics/include/**/*

!examples/.gitignore
!examples/CMakeLists.txt
!examples/HelloWorld/CMakeLists.txt
!examples/HelloWorld/*.cpp
!examples/HelloWorld/res/shader.glsl
!examples/HelloWorld/src/**/*

!examples/DeferredShading/CMakeLists.txt
!examples/DeferredShading/*.cpp
!examples/DeferredShading/src/**/*

!examples/Cell/CMakeLists.txt
!examples/Cell/*.cpp
!examples/Cell/res/**/*.png
!examples/Cell/src/**/*

!tools/.gitignore
!tools/CMakeLists.txt
!tools/src/**/*
!tools/include/**/*

!user_input/.gitignore
!user_input/CMakeLists.txt
!user_input/src/*/*.*
!user_input/include/**/*

# exclude everything that is not in subdirectories
/*.*

#except these files
!.gitignore
!CMakeLists.txt
!README.md

**/Makefile
examples/Cell/res/arial.ttf
